body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
}

main {
  width: 400px;
  background-color: #283e50;
  color: #ffffff;
  font-size: 1.3rem;
}

img {
  width: 100%;
}

main, image {
  border-radius: 0.5rem 0.5rem 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  padding: 0 4rem;
}