html { box-sizing: border-box; 
}

*, 
*::after, 
*::before { box-sizing: inherit; }


:root {
  --primary-color: #ffffff;
  --dark-blue: #283e50;
  --green: #1fcca4;
  --green-hover: #1cbb96;
  --blue: #0197f6;
  --blue-hover: #0090e9;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.main {
  width: 450px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
}

.main__image {
  width: 100%;
}

.main, .main__image {
  border-radius: 0.5rem 0.5rem 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: normal;
  margin: 3rem 0 2rem 0;
}

p { 
  padding: 1rem;
}


/* ----------- buttons ----------- */

.btn {
  display: block;
  flex-direction: column;
  text-decoration: none;
  color: var(--primary-color);
}

.btn--rules, .btn--home {
  background-color: var(--green);
  margin-bottom: 0.1rem;
  padding: 1rem 0;
}

.btn--rules:hover,
.btn--rules:focus, 
.btn--home:hover,
.btn--home:focus {
  background-color: var(--green-hover);
}

.btn--play {
  background-color: var(--blue);
  padding: 1rem 0;
}

.btn--play:hover,
.btn--play:focus {
  background-color: var(--blue-hover);
}

.btn--home {
  margin-top: 1.5rem;
}

/* ------------- rules ------------ */
.list {
  margin: 1rem 3rem;
}

.list__item {
  text-align: left;
  padding: 0 0 1rem 1rem;
  line-height: normal;
}

.icon {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}


/* ------------ images + descriptions ------------ */

.instructions__picture {
  width: 100%;
}

figcaption {
  font-style: italic;
  font-weight: lighter;
  font-size: 1rem;
}

/* ------------ responsive design ------------ */

@media (min-width: 840px) {
  .main__rules {
    width: 750px;
  }
  
  .main__instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .instructions__block {
    margin: 0;
    width: 45%;
    margin: 20px 0;
  }
}

@media (min-width: 840px)