body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main {
  width: 450px;
  background-color: #283e50;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 4rem auto;
}

.main__image {
  width: 100%;
}

.main, .main__image {
  border-radius: 0.5rem 0.5rem 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

p { 
  padding-top: 2rem;
  margin: 0;
}

.main__content {
  padding: 2rem 1rem;
}

.btn {
  display: flex;
  flex-direction: column;
}

.btn--rules {
  background-color: #1fcca4;
  margin-bottom: 0.1rem;
}

.btn--play {
  background-color: #0197f6;
}

.btn--play, .btn--rules {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 0;
}

.btn--rules:hover,
.btn--rules:focus {
  background-color: #1cbb96;
}

.btn--play:hover,
.btn--play:focus {
  background-color: #0090e9;
}